.focusarea .focusarea {
    margin: 0;
    overflow: hidden;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    width:360px !important;
    height:225px !important;
}

.focusarea--default {
    background-color:#ffffff;
    width:360px;
    height:225px;
}

.focusarea--frame {
    background-color:#ffffff;
    width:1440px;
    height:900px;
    -ms-zoom: 0.25;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
}

.focusarea--image {
    max-width:100%;
    height:auto;
}